body{
    background: #f5d9d5;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    font-weight: 900;
}
 h2{
    font-style: italic;
    font-size: 43px;
color: rgb(223, 103, 73);
    font-weight: 1000;
    margin-left: 20px;
}

.navbar ul {
    list-style: none;
  }
.navbar ul li {
    display: inline-block;
    margin-left: 10rem;
    margin-right: 20px;
    margin-top: 19px;
    font-size: 15px;
  }
  .navbar ul li a {
    text-decoration: none;
    color: purple;
    border-bottom: 2px solid transparent;
  }
  
  .navbar ul li a:hover {
    border-bottom: 2px solid var(--bg-color);
    color: navy;
  }

#mainNavbar .navbar-brand{
    color: #1cea53;
    font-size: 1.5rem;
    font-weight: 100;
    margin-inline-end: auto;
}
#mainNavbar .nav-link{
    /* margin-right: 0; */
    /* padding-right: 0; */
    justify-content: flex-end;
    color: rgb(104, 23, 23);
}

#super{
    height: 100px;
    
    

}
#super h1{
    text-align: center;
    font-size: 45px;
    font-weight: 550;
    color: #dc343ff1;
}
#serLink{
    height: 20px;
    /* text-decoration: #EA1C2C; */
}
#gmap h1{
    font-weight: 900;
    /* font-size: xx-large; */
    font-size: 60px;
    line-height: 80px;
}
#gmap p{
    font-weight: 400;
    font-size: 25px;
    line-height: 50px;
    /* font-weight: 300; */
}



